
.tr-icon-robot-love:before { content: '\e800'; } /* '' */
.tr-icon-robot-confused:before { content: '\e801'; } /* '' */
.tr-icon-robot:before { content: '\e802'; } /* '' */
.tr-icon-robot-happy:before { content: '\e803'; } /* '' */
.tr-icon-robot-excited:before { content: '\e804'; } /* '' */
.tr-icon-robot-dead:before { content: '\e805'; } /* '' */
.tr-icon-robot-no-face:before { content: '\e806'; } /* '' */
